<div class="container-fluid mx-0 px-0" 
    style="margin-top: 9vh;">
  <!--SHOWCASE-->
  <section class="py-5 bg-primary shadow">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <img
          class="img-fluid w-50 d-none d-sm-block"
          src="img/home-banner.svg"
          alt=""
        />
        <div>
          <h1>
            “If you don’t like to read, you haven’t found the right book.”
          </h1>
          <p4 class="lead my-4 text-fifth">
            -J.K. Rowling 
          </p4>
        </div>
      </div>
    </div>
  </section>
  <!--TodaysPicks-->
  <section class="my-5">
    <div class="container text-center">
      <h2 class="fs-1 my-4">Today's Pick!</h2>
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 mt-4">
          <div class="col d-flex justify-content-center my-3">
            <div class="card shadow" style="width: 18rem;">
              <img src="img/small-logo.svg" class="card-img-top bg-light" alt="...">
              <div class="card-body bg-primary">
                <h3 class="card-title">Card title</h3>
                <h5 class="card-subtitle mb-2">Card subtitle</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-fifth shadow" href="/" role="button" target="_blank">Read me</a>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center my-3">
            <div class="card shadow" style="width: 18rem;">
              <img src="img/small-logo.svg" class="card-img-top bg-light" alt="...">
              <div class="card-body bg-primary">
                <h3 class="card-title">Card title</h3>
                <h5 class="card-subtitle mb-2">Card subtitle</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-fifth shadow" href="/" role="button" target="_blank">Read me</a>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center my-3">
            <div class="card shadow" style="width: 18rem;">
              <img src="img/small-logo.svg" class="card-img-top bg-light" alt="...">
              <div class="card-body bg-primary">
                <h3 class="card-title">Card title</h3>
                <h5 class="card-subtitle mb-2">Card subtitle</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-fifth shadow" href="/" role="button" target="_blank">Read me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--AuthorShowcase-->
  <section>
    <div class="container text-center">
      <h2 class="fs-1 my-4">Author of the Month</h2>
      <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="card mb-3 rounded-5 shadow" style="max-width: 720px;">
          <div class="row g-0">
            <div class="col-md-4 mt-4">
              <img src="https://randomuser.me/api/portraits/men/1.jpg" class="rounded-circle my-3" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Author Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a class="btn btn-fifth" href="/" role="button">Read More</a>
                <p class="card-text"><small class="text-muted">Month of</small></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--Services-->
  <section class="my-5 py-3">
    <div class="container text-center bg-primary shadow rounded-5 pb-5">
      <h2 class="fs-1 my-4 pt-3">Our Services</h2>
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 mt-4">
          <div class="col d-flex justify-content-center my-3">
            <div class="card shadow rounded-5 bg-secondary" style="width: 18rem;">
              <div class="card-body">
                <h1 class="card-title"><strong><i class="bi bi-book-half"></i></strong></h1>
                <h3 class="card-subtitle my-3">Book Renting</h3>
                <p class="card-text py-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center my-3">
            <div class="card shadow rounded-5 bg-secondary" style="width: 18rem;">
              <div class="card-body">
                <h1 class="card-title"><strong><i class="bi bi-bookmark-heart"></i></strong></h1>
                <h3 class="card-subtitle my-3">Book Review</h3>
                <p class="card-text py-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center my-3">
            <div class="card shadow rounded-5 bg-secondary" style="width: 18rem;">
              <div class="card-body">
                <h1 class="card-title"><strong><i class="bi bi-journal-bookmark-fill"></i></strong></h1>
                <h3 class="card-subtitle my-3">Reading List</h3>
                <p class="card-text py-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Newsletter-->
  <section class=" py-3">
    <div class="container-fluid text-center bg-primary py-5 shadow">
      <h2 class="fs-1 my-4">Subscribe to our Newsletter</h2>
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <div class="input-group news-input mb-3 mx-5">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Email"
            />
            <button
              class="btn btn-fifth btn-lg"
              type="button"
              id="button-addon2"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>