<div class="container" 
    style="margin-top: 15vh;">
    <h2>AddBook</h2>
    <form action="/tempAdmin" method="POST">
      <label>Title</label>
      <input type="text" name="title">
      <label>Author</label>
      <input type="text" name="author" >
      <label>Summary</label>
      <input type="text" name="summary" >
      <label>Rating</label>
      <input type="text" name="rating" >
      <a href="/tempAdmin">Back</a>
      <button type="submit">Submit</button>
    </form>

    
</div>